body {


    font-family: "Platypi", serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}

#ba {
    color: #FECE79;
}


.ra {
    width: 150px;
}



#i {
    display: flex;
    margin: 300px;
    margin-right: 100px;


}

.g {
    margin: 0;
}

a {
    text-decoration: none;
    background-image: -moz-linear-gradient(rgb(26, 153, 238), rgb(51, 27, 160));
    border-radius: 5px;
    padding: 10px 30px;
    color: white;
    font-weight: 700;

}

.u {
    color: #FECE79;
}

.m {
    text-align: center;

}

.abi {
    width: 100px;
}

.ul {
    width: 200px;
    margin-right: 50px;

}

.rm {
    display: flex;
    margin: 50px;

}

.t {
    margin-right: 0%;
    background-image: -moz-linear-gradient(green, green);
    border-radius: 10px;


}

.k {
    margin-left: 20%;
    background-image: -moz-linear-gradient(#8c4131, #8c4131);
    border-radius: 10px;
}

.x {
    margin-left: 15%;
    background-image: -moz-linear-gradient(#40E0D0, #40E0D0);
    border-radius: 10px;
}

.vip {
    width: 350px;
    margin-left: 5%;

}

.am {
    display: flex;
}

.mm {
    margin-left: 15%;
}

.ani {
    width: 300px;
    margin-left: 9%;
}

.res {
    display: flex;
}

.ami {
    margin-left: 2%;
}

.http {
    text-align: center;
}

.tt {
    color: #FECE79;
}

.text {
    width: 400px;
    margin-left: 25%;
}

.red {
    display: flex;
}

.sign {
    margin-left: 10%;
    margin-top: 20%;
}

.class {
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 20%;
    color: black;
}

.css {



    text-decoration-line: line-through;

}

.gel {
    color: #8c4131;
}